body {
    text-align: center;

}


.button {
    padding: 20px;
    font-size: 20%;
    background-color: rgb(248, 212, 168);
    margin-top: 20%;
}



.modal_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(199, 233, 8, 0.438);
    text-align: center;
    font-size: 1000%;
}

.hide {
    display: none;
}

.text {
    margin-top: 10%;
}

